# Docker
.docker/

# Logs
logs/*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
.worktrees/
.trae

# OS
.DS_Store
Thumbs.db

# Build
mcp-server
*.exe
/server
__debug_bin*

# Environment
.env
.env.local

# web
web/admin/dist
web/admin/node_modules.worktrees/


# node_modules
node_modules

#test
test_tool_payload.json